/* Font Definitions */
@font-face {
  font-family: "Square721 BT Roman";
  src: url("https://db.onlinewebfonts.com/t/7b6a3052ac99368df5c80f3fd161fe32.eot");
  src: url("https://db.onlinewebfonts.com/t/7b6a3052ac99368df5c80f3fd161fe32.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/7b6a3052ac99368df5c80f3fd161fe32.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/7b6a3052ac99368df5c80f3fd161fe32.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/7b6a3052ac99368df5c80f3fd161fe32.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/7b6a3052ac99368df5c80f3fd161fe32.svg#Square721 BT Roman")
      format("svg");
}

/* Box Model Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body Styles */
body {
  font-family: "Square721 BT Roman";
}


